<!DOCTYPE html>
<html>
  <head>
    <title>FunTrip</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application'%>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body class="welcome page">
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="header">
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
        Logged in as
        <% if current_page?(:controller => "devise/registrations", :action => "edit") %>
        <%= current_user.shorter_name %>
        <% else %>
        <%= link_to current_user.shorter_name, edit_user_registration_path, :class => 'navbar-link' %>
        <% end %>
        
        |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
        <% unless current_page?(:controller => "devise/registrations", :action => "new") %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
        <% end %>
        <% unless current_page?(:controller => "devise/sessions", :action => "new") %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        <% end %>
      </div>
      <!-- <ul class="nav">
        <li class="active"><a href="/ideas">Ideas</a></li>
      </ul> -->

      <%= yield %>
      <div class="footer">
        <p>© FunTrip, Inc. 2015. Superpowered by Google Maps.</p>
        <div class="bottom-menu">
          <a href="#">ABOUT</a> |
          <a href="#">HELP</a> |
          <a href="#">CONTACT</a> |
          <a href="#">TERMS OF USE</a>
        </div>
      </div>

    </body>
  </html>